<h1>Results</h1>

<table>
  <tr>
    <th>Common Name</th>
    <th>Naptan ID</th>
  </tr>
  <%n_stops_found = @stop_list_hash.length - 1 %>
  <%for j in 0..(n_stops_found) do%>
    <tr>
      <td><%=@stop_list_hash[j]["common name"]%></td>
      <td><%=@stop_list_hash[j]["naptanId"] %></td>
    </tr>
  <%end %>
</table>

<p>Now you can look up departures using your naptan ID <a href="/by_stop/">Here</a></p>
