<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">
      <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>
</nav>

<h1>Index Page</h1>
<p>Search for departures near a postcode <a href="/by_postcodes/">Here</a> </p>
<br>
<p>Search by a specific stop naptanId <a href="/by_stop/">Here</a> </p>
<br>
<p>Don't know your stop naptanId? Look it up <a href="/find_naptanid/">Here</a></p>
