<h1>Index Page</h1>
<p>Search for stops near a postcode <a href="/by_postcodes/">Here</a> </p>
<br>
<p>Search by a specific stop naptanId <a href="/by_stop/">Here</a> </p>
<br>
<p>Don't know your stop naptanId? Look it up <a href="/find_naptanid/">Here</a></p>
